
/*TABLE*/
table {
    border-collapse: collapse;
}

td ,th {
    padding: 25px;
}

table, td, th {
    border: 1px solid #000;
}

/*TABLE_1*/

.table1 td:nth-child(n+2) {
    visibility: hidden;
}

/*TABLE_3*/
.table3 td, th {
    padding: 30px 45px;
}

/*TABLE_4*/
.table4 {
    table-layout: fixed;
    width: 400px;
}